.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--cor-border);
}

.header nav ul{
    display: flex;
    gap: 20px;
}

.header nav ul li {
    padding: 10px 20px;
    border-radius: 5px;
}

.header nav ul li:hover {
    background-color: var(--cor-detail-bg);
}

.footer {
    padding: 40px 0px;
    border-top: 1px solid var(--cor-border);
}

.footer .icon {
    gap: 20px;
}

.footer .icon a:hover {
    color: var(--cor-detail);
    text-decoration: underline;
}

.footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 820px) {
    .footer div {
        margin-top: 40px;
    }
}

@media (max-width: 640px) {
    .footer div  {
        justify-content: center;
        gap: 40px;
    }
}